/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
$jumbotron-bg: white;
$jumbotron-color: white;
$body-bg: #EDD5D1;
$btnPrimaryBackground: #f00;
$navbar-default-bg: #915F6D;
$navbar-default-color: white;
$navbar-default-link-color: #FADADD;
$font-family-sans0serif: Lobster;
$well-bg: #FADADD;


@import "bootstrap-sprockets";
@import "bootstrap";

.well {
  @include gradient-vertical($start-color: darken($well-bg, 8%), $end-color: $well-bg);
  border-color: darken($well-bg, 15%);
  $shadow: inset 0 1px 5px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  @include box-shadow($shadow);
}
ul
{
    list-style-type: none;
}